<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target 
      xsi:type="File" 
      name="DefaltTarget"
      fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}/WebSocketServer ${date:format=yyyy-MM-dd}.log"
      layout="${longdate} [${uppercase:${level}}] [${threadid}] [${callsite:includeNamespace=false:includeSourcePath=false}] ${message} ${exception:format=ToString,StackTrace}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="DefaltTarget" />
    <logger name="*" minlevel="Debug" writeTo="DefaltTarget" />
    <logger name="*" minlevel="Error" writeTo="DefaltTarget" />
  </rules>

</nlog>